<div class="container"
     style="margin-top: 30px; margin-bottom: 80px; box-shadow: 5px 5px 15px 7px #000000; border-radius: 15px; padding: 25px">
  <div class="jumbotron" style="background-color: azure; color: saddlebrown">
    <h1 class="display-4"><b>Kisten</b></h1>
    <hr>

    <h2><b>Wir erstellen folgende Kisten nach Kundenwünsche: </b></h2>
    <ul>
      <li><b>Exportkisten</b></li>
      <li><b>Transportkisten</b></li>
      <li><b>Apfel-Kisten</b></li>
    </ul>
    <hr>

    <div class="d-flex p-2 justify-content-around flex-wrap"
         style="margin-top:35px;
          /*box-shadow: 5px 5px 15px 7px #000000; */
          border-radius: 15px; padding: 5px">
      <!--Kiste-1-->
      <div class="card" style="width: auto;">
        <img class="card-img-top" src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-1">
        <div class="card-body">
          <p class="card-text"><b>Bezeichnung Kiste - 1</b></p>
        </div>
      </div>

      <!--Kiste-2-->
      <div class="card" style="width: auto;">
        <img class="card-img-top" src="../../../../assets/images/KistenImages/OneexportKiste.JPG" alt="Kiste-2">
        <div class="card-body">
          <p class="card-text"><b>Bezeichnung Kiste - 2</b></p>
        </div>
      </div>

      <!--Kiste-3-->
      <div class="card" style="width: 50%;">
        <img class="card-img-top" src="../../../../assets/images/KistenImages/ApfelKisten.jpg" alt="Kiste-3">
        <div class="card-body">
          <p class="card-text"><b>Bezeichnung Kiste - 3</b></p>
        </div>
      </div>

      <!--Kiste-4-->
      <div class="card" style="width: 50%;">
        <img class="card-img-top" src="../../../../assets/images/KistenImages/longKist.jpg" alt="Kiste-4">
        <div class="card-body">
          <p class="card-text"><b>Bezeichnung Kiste - 4</b></p>
        </div>
      </div>
    </div>
  </div>

  <a routerLink="/Kategorie">
    <button type="button" class="btn btn-warning btn-lg btn-block">
      <b><span style="color: saddlebrown">ZURÜCK ZU KATEGORIEN</span></b>
    </button>
  </a>

</div>
