<section id="section-a" class="grid">
  <div class="content-wrap">
    <h2 class="content-title"><b>Kisten und Verpackung</b></h2>
    <hr>
    <h3><b>Wir erstellen folgende Kisten und Verpackungen nach Kundenwunsch:</b></h3>
    <hr>
  </div>
</section>

<section id="section-b">
   <ul>
    <li *ngFor = "let image_card of image_cards">
      <div class="_card">
        <img [src]="image_card.imgSrc" alt="Kiste-1">
        <div class="card-content">
          <h3 class="card-title"><b>{{image_card.imgTitle}}</b></h3>
          <p><a [routerLink]="image_card.detailLink" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li>
  </ul>
</section>
