<section id="section-a" class="grid">
  <div class="content-wrap">
    <h2 class="content-title"><b>Kisten und Verpackung</b></h2>
    <hr>
    <h3><b>Wir erstellen folgende Kisten und Verpackungen nach Kundenwunsch:</b></h3>
    <hr>
  </div>
</section>

<section id="section-b">
  <ul>
    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-1">
        <div class="card-content">
          <h3 class="card-title"><b>Exportkisten</b></h3>
          <p><a routerLink="/produkte/kisten/exportkiste" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/longKist.jpg" alt="Kiste-2">
        <div class="card-content">
          <h3 class="card-title"><b>Transportkisten</b></h3>
          <p><a routerLink="/produkte/kisten/transportkiste" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/kiste3.jpg" alt="Kiste-3">
        <div class="card-content">
          <h3 class="card-title"><b>Obstkisten</b></h3>
          <p><a routerLink="/produkte/kisten/obstkiste" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/transportpalette.jpg" alt="Kiste-4">
        <div class="card-content">
          <h3 class="card-title"><b>Transportpaletten</b></h3>
          <p><a routerLink="/produkte/kisten/transportpalette" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-3">
        <div class="card-content">
          <h3 class="card-title"><b>Prismen</b></h3>
          <p><a routerLink="/produkte/kisten/prisme" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li>

   <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/verschlag.jpg" alt="Kiste-4">
        <div class="card-content">
          <h3 class="card-title"><b>Verschläge </b></h3>
          <p><a routerLink="/produkte/kisten/verschlag" class="_btn">Hier Erfahren Sie mehr</a></p>
        </div>
      </div>
    </li> 
  </ul>
</section>
