<div class="container"
     style="margin-top: 30px; margin-bottom: 80px; box-shadow: 5px 5px 15px 7px #000000; border-radius: 15px; padding: 25px">
  <div class="jumbotron" style="background-color: azure; color: saddlebrown">
    <h1 class="display-4"><b>Service</b></h1>
    <hr>

    <h2><b>Wir bieten folgende Leistungen: </b></h2>
    <hr>
    <p>
    <h3><b># Leiferservice</b></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
      Atque est id inventore nobis numquam repudiandae?<br>
      Modi molestias neque numquam tempore.
    </p>

    <h3><b># Kistenanfertigung nach Kundenwunsch</b></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
      Atque est id inventore nobis numquam repudiandae?<br>
      Modi molestias neque numquam tempore.
    </p>

    <hr>
  </div>
</div>


