 <section id="section-a" class="grid">
  <div class="content-wrap">
    <h1 class="content-title"><b>Kontakt</b></h1>
    <hr>

    <h2><b>Karl Sterr Söhne UG </b></h2>
    <hr>

    <div class="row">
      <div class="col">
        <b>Straße: </b>
      </div>
      <div class="col">
        Neckarstarße 37
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>PLZ/Ort: </b>
      </div>
      <div class="col">
        72644 Oberboihingen
      </div>    
    </div>
    <div class="row">
      <div class="col">
        <b>Telefon: </b>
      </div>
      <div class="col">
        (+49) 07022 645 64
      </div>     
    </div>
    <div class="row">
      <div class="col">
        <b>Fax: </b>
      </div>
      <div class="col">
        (+49) 07022 613 03
      </div>     
    </div>
    <div class="row">
      <div class="col">
        <b>E-Mail: </b>
      </div>
      <div class="col">
        kisten-sterr@web.de
      </div> 
    </div>
    <hr>
  </div>
</section>
