<div class="card" style="width: auto; box-shadow: 5px 5px 15px 5px #000000; margin: 15px">
  <div class="card-body" style=" color: saddlebrown">
    <h5 class="card-title"><b>Wir sind Ihr kompetenter Partner !</b></h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <br>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing el.<br>
      Accusamus, ad adipisci aliquam amet cupiditate dolorum <br>
      exercitationem fugiat, illo incidunt itaque laboriosam <br>
      molestias mollitia natus non perferendis porro<br>
      quia quis ratione reprehenderit sapiente sequi <br>
      tempora unde veniam, voluptate voluptatib.
    </p>

  </div>
</div>
