<div class="card" style="width: auto; box-shadow: 5px 5px 15px 5px #000000; margin: 15px">
  <div class="card-body" style=" color: saddlebrown; background-color: bisque">
    <h5 class="card-title"><b>Unsere Adresse und Öffnungszeiten:</b></h5>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <br>
    <h5 class="card-title"><b> </b></h5>
    <br>
    <p class="card-subtitle mb-2">Neckarstarße 37 <br> 72644 Oberboihingen.</p>
    <p class="card-text">
      <i class="fas fa-clock fa-2x"></i> &nbsp; &nbsp; <b>Wir sind für Sie da: Mo bis Fr, von 7 Uhr bis 17 Uhr</b> <br>
    </p>
    <hr>
  </div>
</div>
