<div id="main-footer" class="grid">
  <nav id="footer_padding" class="navbar  navbar-expand-lg navbar-light bg-warning fix">
    <div style="display: inline-block">
      <div id="footer-info">
        <div class="row">
          Entwickelt von  &nbsp; <b> Eli Kabasele (eliezerkabas@gmail.com) </b>
        </div>
        <div class="row">
          &copy; &nbsp; <b> Karl Sterr &amp; Söhne UHG - 2021</b>
        </div>        
      </div>

      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="impressum" routerLinkActive="active">IMPRESSUM</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="kontakt" routerLinkActive="active">KONTAKT</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</div>