<nav class="navbar  navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/sterrLogo.jpg" style="border-radius: 5px" width="240" height="120">
  </a>

  <div class="navbar-nav ml-auto" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>PRODUKTE</b><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>SERVICE</b><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>UNTERNEHMEN</b></a>
      </li>

    </ul>

  </div>
</nav>
