<section id="section-a" class="grid">
  <div class="content-wrap">
    <h2 class="content-title"><b>Exportkisten</b></h2>
    <hr>
  </div>
</section>

<section id="section-b">
  <ul>
    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-1">
        <div class="card-content">
          <!-- <h3 class="card-title"><b>Exportkisten</b></h3> -->
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-2">
        <div class="card-content">
          <!-- <h3 class="card-title"><b>Transportkisten</b></h3> -->
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-3">
        <div class="card-content">
          <!-- <h3 class="card-title"><b>Obstkisten</b></h3> -->
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-4">
        <div class="card-content">
          <!-- <h3 class="card-title"><b>Transportpaletten</b></h3> -->
        </div>
      </div>
    </li>

    <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-3">
        <div class="card-content">
          <!-- <h3 class="card-title"><b>Prismen</b></h3> -->
        </div>
      </div>
    </li>

   <li>
      <div class="_card">
        <img src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Kiste-4">
        <div class="card-content">
          <!-- <h3 class="card-title"><b>Verschläge </b></h3> -->
        </div>
      </div>
    </li> 
  </ul>
</section>

<section id="section-c" class="grid">
  <div class="content-wrap">
    <a routerLink="/kategorie/Kisten">
      <button type="button" class="btn btn-warning btn-lg btn-block">
        <span><b>ZURÜCK</b></span>
      </button>
    </a>
    <hr>
  </div>
</section>