
#section-b, #section-a, #section-c{
    padding: 2em 1em 1em;
    text-align: center;
}

#section-b {
    margin-bottom: 5em;
}

#section-b ul {
    padding: 0;
    list-style: none;
    margin-right: 1em 0;
}

#section-b li {
    margin-bottom: 1em;
    // background-color: bisque;
    color: saddlebrown;
}

#section-a .content-wrap {
    padding: 0 1.5em;
}

._card {
    box-shadow: 5px 10px 5px saddlebrown;
}

._card:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.card-content {
    padding: 1.5em;
}

#section-c a {
    text-decoration: none
}

#section-c button {
    display: inline-block;
    background: rgb(255, 198, 26);
    color: saddlebrown;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    box-shadow: 5px 10px 5px saddlebrown;
}


#section-c button:hover {
    text-decoration: none;
    background: rgb(128, 94, 0);
    color: black;    
}

// Media Queries
@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
    }

    .content-wrap, #section-b ul {
        grid-column: 2/4;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #section-b li {
        width: 31%;
    }

    #section-a .content-wrap {
        margin-top: 7em;
    }
    
}
