<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
      <h1 class="content-title">Herzlich Willkommen</h1>
      <p>Wir sind Ihr kompetenter Partner rund um Kistenfabrikation und Holzbearbeitung !</p>
  </div>
</header>

<section id="section-a" class="grid">
  <div class="content-wrap">
    <app-caroussel></app-caroussel>
  </div>
</section>

<section id="section-b" class="grid">
  <div class="content-wrap">
      <app-section1></app-section1>
  </div>
</section>