img{
    width: 100%;
    height: auto;
    display: inline-block
}

#carousell-container {
    box-shadow: 5px 5px 15px 7px saddlebrown; 
    border-radius: 15px; 
    padding: 7px;
    margin-top: 5em;
}
