<!-- <div class="container" style="margin-top: 20px;"> -->
<div id="carousell-container">
  <div>
    <div id="myCarousel" class="carousel slide bg-inverse w-75 ml-auto mr-auto" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="container">
            <img style="border-radius: 10px" class="d-block w-100"
              src="../../../../assets/images/KistenImages/verschlag.jpg" alt="First slide" height="100%">
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <img style="border-radius: 10px" class="d-block w-100"
              src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Second slide" height="100%">
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <img style="border-radius: 10px" class="d-block w-100"
              src="../../../../assets/images/KistenImages/transportpalette.jpg" alt="Third slide" height="100%">
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <img style="border-radius: 10px" class="d-block w-100"
              src="../../../../assets/images/KistenImages/longKist.jpg" alt="Third slide" height="100%">
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <img style="border-radius: 10px" class="d-block w-100"
              src="../../../../assets/images/KistenImages/gutKiste.jpg" alt="Third slide" height="100%">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- </div> -->

</div>