p{
    font-size: 150%
}
.container {
    margin-bottom: 85px;
    box-shadow: 5px 5px 15px 7px #000000;
    border-radius: 15px;
    padding: 25px;
    margin-top: 370px;
}

.jumbotron {
    background-color: bisque;
    color: saddlebrown
}