<div class="container" style="margin-top: 30px; margin-bottom: 85px; box-shadow: 5px 5px 15px 7px #000000; border-radius: 15px; padding: 25px;">
  <div class="jumbotron" style="background-color: azure; color: saddlebrown">
    <h1 class="display-4"><b>Impressum</b></h1>
    <hr>

    <h2><b>Angaben gemäß § 5 TMG:</b></h2>
    <hr>
    <p>
      Karl Sterr und Söhne <br>
      Neckarstraße 37 <br>
      72644 Oberboihingen<br>
    </p>

    <h2><b>Vertreten durch:</b></h2>
    <hr>
    <p> Thomas Sterr </p>

    <h2><b>Kontakt:</b></h2>
    <hr>
    <p>
      Telefon: 0 70 22 - 6 45-65 <br>
      Telefax: 0 70 22 - 6 13-03 <br>
      E-Mail: kisten-sterr@web.de <br>
    </p>

    <h2><b>Registereintrag:</b></h2>
    <hr>
    <p>
      Eintragung im Handelsregister. <br>
      Registergericht:Stuttgart <br>
      Registernummer: HRB 759230 <br>
    </p>

    <h2><b>Umsatzsteuer:</b></h2>
    <hr>
    <p>
      Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: <br>
      DE 309641089
    </p>

    <h2><b>Umsatzsteuer:</b></h2>
    <hr>
    <p>
      Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <br>
      https://ec.europa.eu/consumers/odr. <br>
      Unsere E-Mail-Adresse finden Sie oben im Impressum. <br> <br>

      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>

    <h2><b>Urheberrecht</b></h2>
    <hr>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. <br>
      Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes <br>
      bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind <br>
      nur für den privaten, nicht kommerziellen Gebrauch gestattet. <br> <br>

      Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.<br>
      Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung <br>
      aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir <br>
      derartige Inhalte umgehend entfernen.
    </p>

  </div>
</div>

