<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><b>Über uns: </b></h1>
    <hr>
    <h2>Firmengeschichte</h2>
    <p>
        1951 machte sich Karl Sterr mit seiner ersten Kistenfertigung in Zizishausen selbstständig.<br>
        Drei Jahre nach der Gründung zog der Betrieb nach Oberensingen um, in ein Sägewerk.<br>
        Das Unternehmen florierte, die Fertigung von Bauholz wurde aufgenommen und ein 
        Hobelwerk angegliedert.<br>
        1969 wurde das Unternehmen durch einen Großbrand schwer getroffen. Die gesamte
        Produktionsfläche wurde vernichtet.<br>
        In einigen unzerstörten Nebengebäuden wurde weiter produziert.<br>
        Nach einer schwierigen Zeit und unermüdlichem Einsatz der ganzen
        Famililie wurden neue Geschäftsfelder erschlossen, so die Fertigung von Spezialverpackungen
        für Maschinen.<br>
        1983 wurde der Sitz der Firma an den heutigen Standort, in der Neckarstraße in Oberboihingen, verlagert.<br>
       Bis heute ist die Firma in Familienbesitz und darauf sind die Söhne sehr stolz.
    </p>
    <hr>
  </div>
</div>