<div class="card" style="width: auto; box-shadow: 5px 5px 15px 5px #000000; margin: 15px">
  <div class="card-body" style=" color: darkred">
    <h5 class="card-title"><b>Kontakt & Öffnungszeiten</b></h5>
    <br>
    <h6 class="card-subtitle mb-2">Neckarstarße 37 <br> 72644 Oberboihingen</h6>
    <p class="card-text">
      <i class="fas fa-phone-square fa-2x"></i> &nbsp; &nbsp; <b>(0 70 22) 6 45 65</b> <br>
      <i class="fas fa-fax fa-2x"></i> &nbsp; &nbsp; <b>(0 70 22) 6 13 03</b> <br>
      <i class="fas fa-envelope-square fa-2x"></i> &nbsp; &nbsp; <b>kisten-sterr@web.de</b> <br>
      <i class="fas fa-clock fa-2x"></i> &nbsp; &nbsp; <b>Mo - Fr: 7:00-18:00</b> <br>
    </p>

  </div>
</div>
