<div class="container" style="margin-top: 30px; box-shadow: 5px 5px 15px 7px #000000; border-radius: 15px; padding: 25px">
  <div class="jumbotron" style="background-color: azure; color: saddlebrown">
    <h1 class="display-4"><b>Unternehmen</b></h1>
    <hr>

    <h2><b>Geschichte</b></h2>
    <hr>
    <p>
      Es ist unser Ziel, die Umweltrelevanz unserer Produkte sowie der Produktionsverfahren kontinuierlich zu verbessern.<br>
      Konsequent arbeiten wir daran, die im Unternehmen benötigten Ressourcen optimal zu nutzen, um somit einen Beitrag zu <br>
      einer möglichst geringen Beeinträchtigung unserer Umwelt zu leisten. Eine Einsparung von Rohstoffen und Energie ist <br>
      ebenso wie die Minimierung von Emissionen und Abfällen ein Ziel bei betrieblichen Planungen und Entwicklungen. <br>
      Wenn möglich, werden CO2-neutrale Energieträger eingesetzt.
    </p>

    <h2><b>Umweltphilosophie</b></h2>
    <hr>
    <p>
      Es ist unser Ziel, die Umweltrelevanz unserer Produkte sowie der Produktionsverfahren kontinuierlich zu verbessern.<br>
      Konsequent arbeiten wir daran, die im Unternehmen benötigten Ressourcen optimal zu nutzen, um somit einen Beitrag zu <br>
      einer möglichst geringen Beeinträchtigung unserer Umwelt zu leisten. Eine Einsparung von Rohstoffen und Energie ist <br>
      ebenso wie die Minimierung von Emissionen und Abfällen ein Ziel bei betrieblichen Planungen und Entwicklungen. <br>
      Wenn möglich, werden CO2-neutrale Energieträger eingesetzt.
    </p>
  </div>
</div>
