/* You can add global styles to this file, and also import other style files */

@import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body {
  background-image: url("assets/images/bgImg1.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  text-align: center;
  line-height: 1.5;

}

img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1em;

}

h1, h2 {
  margin: 0;
  padding: 1em 0;
}



._btn {
  display: inline-block;
  background: rgb(255, 198, 26);
  color: black;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  box-shadow: 5px 10px 8px #888888;
}

._btn:hover {
  background: rgb(128, 94, 0);
  color: black;
  text-decoration: none;
  
}